* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #171717;
  color: whitesmoke;
}

main {
 
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.input_holder {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

button {
  width: 100px;
  height: 50px;
  padding: 0;
  font-size: 16px;
  color: #fff;
  background-color: #19bd19;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.icon_holder {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #17ff06;
}
